
*.nb
LaTeX/SMEFT_OnShell.pdf
LaTeX/SMEFT_OnShell.synctex.gz
1512.03433/HSSM5to12.m
Old versions/GraphGenerator1.wl
Old versions/HelicityStructures1.wl
Old versions/HelicityStructures1_1.wl
Old versions/SMandGaugeSinglets.wl
Old versions/SMandGaugeSinglets1.wl
Old versions/SMandGaugeSinglets3.wl
